

.project-action-button.inline
  - if can?(current_user, :request_access_with_secret, source)
    = content_tag "a", "Enter Secret", :class => 'btn js-custom-secret-button-event', :id => 'enter-secret-btn'
    = form_tag polymorphic_path([:request_access_with_secret, source, :members]), method: "post", hidden: "", id: "secret-form"
    = text_field_tag :secret, nil, placeholder: 'open-source', class: 'form-control'
